<header>
  <div>
    <h1 class="header"><a href="/">A little TO DO APP</a></h1>
    <div class="menu">
      <a href="/">All Tasks</a>
      <a href="/uncompletedtasks">Not Done</a>
      <a href="/completedtasks">Done</a>
      <a href="/user/assigned">Assigned</a>
      <a href="/user/unassigned">Unassigned</a>
    </div>
  </div>
</header>