<header>
  <div>
    <h1 class="header"><a href="/">A little TO DO APP</a></h1>
    <div class="menu">
      <div>
        <a href="/">All Tasks</a>
        <a href="/uncompletedtasks">Not Done</a>
        <a href="/unassigned">Unassigned</a>
      </div>
      <div>
        <a href="/user/users">All Users</a>
        <a href="/completedtasks">Done</a>
        <a href="/assigned">Assigned</a>
      </div>
    </div>
  </div>
</header>