<h2>Completed Tasks:</h2>
<ul>
  {{#each completedTasks}}
    {{#if done}}
      <li>
        <a href="/task/{{_id}}">{{created}} - {{description}}
        <input type="checkbox" name="done" disabled="disabled" value="{{done}}" class="checkbox" {{#if done}}checked{{/if}}>
        </a>
      </li>
    {{/if}}
  {{/each}}
</ul>



