<h2>Completed Tasks:</h2>


<ul>
  {{#each todos}}
    {{#if done}}
      <li>
        <a href="/{{id}}">{{created}} - {{description}}
        <input type="checkbox" name="done" disabled="disabled" value="{{done}}" {{#if done}}checked{{/if}}>
        </a>
      </li>
    {{/if}}
  {{/each}}
</ul>



