<h2>Edit task</h2>

<form action="/task/{{id}}/edit" method="post">
<input
    type="datetime-local"
    name="created"
    placeholder="created"
    value="{{created}}"
    required
  />
  <input
    type="text"
    name="description"
    placeholder="description"
    value="{{description}}"
  />
  <input type="checkbox" name="done" value="{{done}}" class="checkbox" {{#if done}}checked{{/if}}>
  <input type="submit" value="Edit Task" />
</form>