<h2>Edit task</h2>

<form action="/{{id}}/edit" method="post">
  <input
    type="text"
    name="description"
    placeholder="description"
    value="{{description}}"
  />
  <input type="submit" value="Edit Task" />
</form>