<h2>All Tasks:</h2>

<form action="/newtask" method="post">
  <input type="text" name="description" placeholder="description" />
</form>

<ul>
  {{#each todos}}
    <li>
      <a href="/{{id}}">{{created}} - {{description}}
      <input type="checkbox" name="done" disabled="disabled" value="{{done}}" {{#if done}}checked{{/if}}>
      </a>
    </li>
  {{/each}}
</ul>