<h2>Your Task:</h2>
<ul>
  <li class="single-task">
    {{description}}

  </li>
</ul>

<div class="single-menu">
  <a href="/task/{{id}}/edit">Edit Task</a>
  <a href="/task/{{id}}/delete">Delete Task</a>
  <a href="/">Back to All Tasks</a>
</div>