* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5ead8;
  background-image: url(/assets/noise.png);
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
}

.header > a {
  font-family: "DM Serif Display", serif;
}

p,
a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: black;
}

header,
.main,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > div {
  width: 80%;
  background-color: #efdf87;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 25px;
  margin: 25px 0 15px 0;
  border: #f5ead8 15px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  width: 80%;
}

.main > div {
  width: 80%;

  background-color: #d2e9c9;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 25px;
  margin: 10px;
  border: #f5ead8 15px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.checkbox {
  -webkit-appearance: none;
  background-color: #f5d9c8;
  border: 0.5px solid #00000073;
  border-radius: 3px;
  padding: 7px;
  margin: 0;
}

input {
  margin: 20px;
  background-color: #f5d9c8;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}

/* use this color: #f5d9c8 */
footer > div {
  width: 80%;
  background-color: #cce9ea;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 25px;
  margin: 5px;
  border: #f5ead8 15px solid;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

ul {
  margin-top: 10px;
}

li {
  list-style: none;
  font-size: 20px;
  padding: 5px;
}

a:hover {
  color: grey;
}

.noisy {
  background-image: url(/assets/noise.png);
}
