* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ccd6ea;
  background-image: url(/assets/noise.png);
}

header,
.main,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > div {
  width: 70%;
  background-color: #efdf87;
  border: #dedbb9 15px solid;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin: 45px 0 45px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header > a {
  font-family: "DM Serif Display", serif;
  color: #062f2f;
  font-size: 55px;
}

a,
p,
.single-task,
.single-menu {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: #062f2f;
  display: flex;
}

.menu {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 70%;
  font-size: 20px;
}

.main > div {
  width: 75%;
  background-color: #d2e9c9;
  border: #cfe0da 15px solid;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: #062f2f;
  font-size: 40px;
}

/* .sort {
  border: olive 1px solid;
} */

.create {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  color: #062f2f;
}
/* rosa: #f2c8bf;
blå #cce9ea */
input {
  margin: 20px;
  background-color: #e1e4a8;
  background-image: url(/assets/noise.png);
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
  padding: 12px;
  text-align: center;
  border: #efdf87 4px solid;
  box-shadow: 4px 4px 5px 0 rgba(100, 100, 111, 0.2),
    2px 2px 5px 0 rgba(100, 100, 111, 0.2) inset;

  color: #062f2f;
}
input::placeholder {
  color: #062f2f;
}
input[type="checkbox"]:hover,
input[type="datetime-local"]:hover,
input[type="submit"]:hover {
  cursor: pointer;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  border: #efdf87 3px solid;
  display: grid;
  place-content: center;
  padding: 7px;
  width: 20px;
  height: 20px;
  margin: 0 0 0 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input[type="checkbox"]::before {
  content: "\2713";
  transform: scale(0);
  transition: 120ms transform ease-in-out;
}

input[type="checkbox"]:checked::before {
  transform: scale(0.9);
}

footer > div {
  width: 70%;
  background-color: #cce9ea;
  padding: 30px 0;
  margin-top: 45px;
  border: #cce0ea 15px solid;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

footer > div > p {
  color: #062f2f;
}

ul {
  margin-top: 30px;
}

li {
  list-style: none;
  font-size: 20px;
  padding: 5px;
}

a:hover {
  color: #385f5dc4;
}

.noisy {
  background-image: url(/assets/noise.png);
}

.single-menu {
  width: 30%;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 10px;
}

.single-menu > a {
  padding-top: 3px;
}
.single-task {
  font-size: 25px;
}

.edit {
  display: flex;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  align-items: center;
  margin: 20px;
  padding: 15px;
}
#description {
  width: 320px;
}
#created {
  width: 200px;
  padding: 7px;
}
#done {
  margin-top: 15px;
}
#submit {
  background-color: #ccd6ea;
  box-shadow: none;
}
