* {
  margin: 0;
  padding: 0;
}

body {
  background: #f2f2f2;

  /*   background-image: url("https://i.pinimg.com/564x/96/fa/5c/96fa5c7e026fbf324d0d1503c90d7457.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  /*   background-color: #f5f2ea;
 */
}
/* @function random-pct() {
  @return random(30) + 40%; */

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  top: 0;
  left: 0;
  filter: blur(15px) contrast(50);
  z-index: -100;
}
.dot {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  transform: translate(0%, 0%) rotate(0deg);
  transform-origin: center;
  background-color: rgb(236, 76, 76);
  border-radius: 40px;
  box-shadow: 0 0 0 8px #000000;
}

.dottwo {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  transform: translate(0%, 0%) rotate(0deg);
  transform-origin: center;
  border-radius: 40px;
  box-shadow: 0 0 0 8px #000000;
  background-color: violet;
}
.animated {
  animation: moveLeftToRight 4s ease-in-out infinite;
}
@keyframes moveLeftToRight {
  0% {
    transform: translateX(0%) rotate(0deg);
    transform-origin: center;
  }
  25% {
    transform: translateX(-150%) rotate(0deg);
    transform-origin: center;
  }
  75% {
    transform: translateX(150%) rotate(0deg);
    transform-origin: center;
  }
  100% {
    transform: translateX(0%) rotate(0deg);
    transform-origin: center;
  }
}

@keyframes spin {
  from {
    background-color: orange;
  }
  to {
    background-color: green;
    transform: rotate(-360deg);
  }
}

header,
.main,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* yellow #efdf87; */
header > div {
  width: 75%;
  background-color: #83aa82;
  /*   border: white 15px solid;
 */
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header > a {
  font-family: "DM Serif Display", serif;
  color: #073510;
  font-size: 55px;
}

a,
p,
.single-task,
.single-menu {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: black;
  /*   color: #062f2f;
 */
  display: flex;
}

.menu {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 70%;
  font-size: 20px;
}

.main > div {
  width: 75%;
  background-color: #cca9b6;
  /*   border: #f5ebd4 15px solid;
 */
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  /*   color: #062f2f;
 */
  font-size: 40px;
}

/* .sort {
  border: olive 1px solid;
} */

.create {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  /*   color: #062f2f;
 */
}
/* rosa: #f2c8bf;
blå #cce9ea */
input {
  margin: 20px;
  background-color: #efdf87;
  background-image: url(/assets/noise.png);
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
  padding: 12px;
  text-align: center;
  border: #f5ebd4 4px solid;
  box-shadow: 4px 4px 5px 0 rgba(100, 100, 111, 0.2),
    2px 2px 5px 0 rgba(100, 100, 111, 0.2) inset;

  /*   color: #062f2f;
 */
}
input::placeholder {
  color: rgba(0, 0, 0, 0.571);
}
input[type="checkbox"]:hover,
input[type="datetime-local"]:hover,
input[type="submit"]:hover {
  cursor: pointer;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  border: #f5ebd4 3px solid;
  display: grid;
  place-content: center;
  padding: 7px;
  width: 20px;
  height: 20px;
  margin: 0 0 0 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input[type="checkbox"]::before {
  content: "\2713";
  transform: scale(0);
  transition: 120ms transform ease-in-out;
}

input[type="checkbox"]:checked::before {
  transform: scale(0.9);
}

footer > div {
  width: 70%;
  background-color: #b5c670;
  padding: 30px 0;
  margin-top: 45px;
  /*   border: #f5ebd4 15px solid;
 */
  font-size: 15px;
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* footer > div > p {
  color: #062f2f;
} */

ul {
  margin-top: 30px;
}

li {
  list-style: none;
  font-size: 20px;
  padding: 5px;
}

a:hover {
  color: #385f5dc4;
}

.noisy {
  background-image: url(/assets/noise.png);
}

.single-menu {
  width: 30%;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 10px;
}

.single-menu > a {
  padding-top: 3px;
}
.single-task {
  font-size: 25px;
}

.edit {
  display: flex;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  align-items: center;
  margin: 20px;
  padding: 15px;
}
#description {
  width: 320px;
}
#created {
  width: 200px;
  padding: 7px;
}
#done {
  margin-top: 15px;
}
#submit {
  background-color: #ccd6ea;
  box-shadow: none;
}

.bg {
  animation: bg 4s ease-in-out infinite alternate;
  background-image: linear-gradient(120deg, #f6ead6 50%, #f2c7be 50%);
  position: fixed;
  top: 0;
  right: -50%;
  bottom: 0;
  left: -50%;
  opacity: 0.4;
  z-index: -1;
}

.bg2 {
  animation-duration: 5s;
}

.bg3 {
  animation-duration: 7s;
}

@keyframes bg {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
