<h2>Completed Tasks:</h2>
<ul>
  {{#each completed}}
      <li>
        <a href="/task/{{_id}}">{{created}} - {{description}}
        <input type="checkbox" name="done" disabled="disabled" value="{{done}}" class="checkbox" {{#if done}}checked{{/if}}>
        </a>
      </li>
  {{/each}}
  {{#unless completed}}
      <h3>You don't have any completed tasks</h3>
  {{/unless}}
</ul>



