<h2>Edit user</h2>
<form action="/user/{{_id}}/edit" method="post" class="edit">
  <label for="description">User:</label>
  <input type="text" name="user" placeholder="user" value="{{user}}" />
  <input type="submit" value="Edit User" id="submit" />
</form>